local_test_site/
pdf/
!pdf/*.pdf
!install/requirements.txt
for_kb_import_en/
ru_help_local_files/
eh_help_local_files
.vscode/settings.json
compiled_help
install/python_latest.exe
venv/
venv-ubuntu/
__pycache__/
for_pdf_print.html
.serverCredentials.json
pdf.html
!for_kb_import_ru/
for_kb_import_ru/search/search_index.json
for_kb_import_ru/sitemap.xml.gz
for_kb_import_ru/sitemap.xml
platform/