/* 
    The duplicate "fontawesome" folder is needed for local Help viewing and PDF generation. 
    Can't import fontawesome resources from "Web/resources" for these tasks.
*/

@import url("fontawesome/css/fontawesome.min.css");
@import url("fontawesome/css/light.min.css");
@import url("fontawesome/css/solid.min.css");
@import url("fontawesome/css/brands.min.css");

[data-md-color-scheme="comindware"] {
    --md-primary-fg-color: #3697d4;
    --md-primary-fg-color--light: #62aedd;
    --md-primary-fg-color--dark: #0875bc;
    --md-footer-bg-color: var(--md-primary-fg-color--dark);
    --md-footer-bg-color--dark: #343a40;
    --md-code-hl-comment-color: #65785c;
    --md-default-fg-color: #000000;
    --md-typeset-color: var(--md-default-fg-color) !important;
}

:root>* {
    font-weight: 300;
    /* Uncomment to make the main font 15px matching the KB site */
    /*font-size: 18.75px;*/
}

.md-header__topic:first-child {
    font-weight: 300;
}

strong {
    font-weight: bold;
}

body {

    background: white;
    background-image: '';
}

.md-typeset th {
    background-color: var(--md-code-bg-color);
    min-width: 0rem !important;
}

.md-typeset__table {
    max-width: 100% !important;
    width: 100% !important;
}

.md-typeset table {
    display: inline-table !important;
    max-width: 100% !important;
    width: 100% !important;
}


.md-typeset ul ul {
    list-style-type: circle;
}

.md-typeset ul ul ul {
    list-style-type: square;
}

.md-typeset ul ul ul ul {
    list-style-type: "− ";
}

.md-typeset figure img {
    display: inline;
    border: 1px solid hsl(0, 0%, 90%);
}

.md-typeset figure p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.md-typeset figcaption {
    margin: 0em auto 0em;
    max-width: 100%;
}

.md-typeset figure {
    max-width: 100%;
    text-align: center;
}

.md-typeset h5,
.md-typeset h6 {
    font-size: 1em;
    text-transform: none;
    color: var(--md-typeset-color);
}

.md-typeset :is(.admonition, details) {
    font-size: inherit;

}

.glightbox-container .gslider {
    background: white;
}

.glightbox-container.glightbox-clean .gslide-title {

    font-family: var(--md-text-font-family);
    color: var(--md-typeset-color);
    font-feature-settings: "kern", "liga";
    font-style: italic;
    text-align: center;
    font-size: .8rem;
    line-height: 1.6;
}

.gslide-image img {

    min-width: 50px !important;

}

.glightbox-clean .gslide-description {

    min-width: fit-content;
    z-index: -1;
}

.admonition {

    h1.admonition-title,
    h2.admonition-title,
    h3.admonition-title,
    h4.admonition-title,
    h5.admonition-title,
    h6.admonition-title {
        font-weight: 300;
    }
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    color: var(--md-default-fg-color);
}

.md-typeset .headerlink {
    font-family: "Font Awesome 6 Pro";
}

.md-typeset .api-method {
    width: 120px;
    vertical-align: middle !important;
    color: white;
    text-align: center !important;
}

.md-typeset .api-method.get {
    background: #0f6ab4 !important;
}

.md-typeset .api-method.post {
    background: #10a54a !important;
}

.md-typeset .api-method.put {
    background: #c5862b !important;
}

.md-typeset .api-method.delete {
    background: #a41e22 !important;
}

@media screen {

    .md-typeset pre code,
    pre {
        max-height: 360px;
    }

}

.md-typeset .relatedTopics ul li {
    font-style: italic;
}

.md-typeset td .highlight pre {
    margin-top: 0px;
}

.md-typeset .functionDescriptionColumn {
    width: 100px;
}

.md-typeset p:empty {
    display: none;
}



.md-typeset td pre {

    @media (min-width: 1600px) {
        max-width: 600px;
    }

    @media (max-width: 1599px) {
        max-width: 540px;
    }

    @media (max-width: 1219px) {
        max-width: 7800px;
    }

    @media (max-width: 1055px) {
        max-width: 55vw;
    }

    @media (max-width: 959px) {
        max-width: 78vw;
    }

    @media (max-width: 800px) {
        max-width: 70vw;
    }

    @media (max-width: 559px) {
        max-width: 55vw;
    }
}