/* 
    The duplicate "fontawesome" folder is needed for local Help viewing and PDF generation. 
    Can't import fontawesome resources from "Web/resources" for these tasks.
*/

@import url("fontawesome/css/fontawesome.min.css");
@import url("fontawesome/css/light.min.css");
@import url("fontawesome/css/brands.min.css");

[data-md-color-scheme="comindware"] {
    --md-primary-fg-color: #3697d4;
    --md-primary-fg-color--light: #62aedd;
    --md-primary-fg-color--dark: #0875bc;
    --md-footer-bg-color: var(--md-primary-fg-color--dark);
    --md-footer-bg-color--dark: #343a40;
}

:root {
    --md-text-font-family: OpenSans, Roboto;
}


body {
    background: white;
    background-image: '';
}

.md-typeset th {
    background-color: var(--md-code-bg-color);
    min-width: 0rem !important;
}

.md-typeset__table {
    max-width: 100% !important;
    width: 100% !important;
}

.md-typeset table {
    display: inline-table !important;
    max-width: 100% !important;
    width: 100% !important;
}


.md-typeset ul ul {
    list-style-type: circle;
}

.md-typeset ul ul ul {
    list-style-type: square;
}

.md-typeset ul ul ul ul {
    list-style-type: "− ";
}

.md-typeset figure img {
    display: inline;
    border: 1px solid hsl(0, 0%, 90%);
}

.md-typeset figure p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.md-typeset figcaption {
    margin: 0em auto 0em;
    max-width: 100%;
}

.md-typeset figure {
    max-width: 100%;
    text-align: center;
}

.md-typeset h5,
.md-typeset h6 {
    font-size: 1em;
    text-transform: none;
    color: var(--md-typeset-color);
}

.md-typeset :is(.admonition, details) {
    font-size: inherit;

}

.glightbox-container .gslider {
    background: white;
}

.glightbox-container.glightbox-clean .gslide-title {

    font-family: var(--md-text-font-family);
    color: var(--md-typeset-color);
    font-feature-settings: "kern", "liga";
    font-style: italic;
    text-align: center;
    font-size: .8rem;
    line-height: 1.6;
}

.gslide-image img {

    min-width: 50px !important;

}

.glightbox-clean .gslide-description {

    min-width: fit-content;
    z-index: -1;
}

.admonition {

    h1.admonition-title,
    h2.admonition-title,
    h3.admonition-title,
    h4.admonition-title,
    h5.admonition-title,
    h6.admonition-title {
        font-weight: 300;
    }
}

.md-typeset .headerlink {
    font-family: "Font Awesome 6 Pro";
}

.api-cell-method {
    overflow-wrap: break-word;
    width: 6.0%;
    max-width: 85px;
    vertical-align: middle!important;
    color: white;
    text-align: center!important;
}

.get {
    background: #0f6ab4;
}

.post {
    background: #10a54a;
}

.put {
    background: #c5862b;
}

.delete {
    background: #a41e22;
}

.api-cell-endpoint {
    overflow-wrap: break-word;
    width: 14.00%;
    max-width: 190px;
    min-width: 190px;
}

.api-cell-description {
    overflow-wrap: break-word;
    width: 27.0%;
}

.api-cell-input {
    overflow-wrap: break-word;
    width: 29.0%;
}

.api-cell-output {
    overflow-wrap: break-word;
    width: 20.0%;
}