wheel >= 0.37.0
zipp==3.8.1
mkdocs==1.6.0
mkdocs-autolinks-plugin==0.7.1
mkdocs-autorefs==1.2.0
mkdocs-awesome-pages-plugin==2.9.3
mkdocs-em-img2fig-plugin>=0.3.3
mkdocs-include-markdown-plugin==6.2.1
mkdocs-macros-plugin==1.0.5
mkdocs-material==9.5.29
mkdocs-minify-plugin==0.8.0
mkdocs-section-index==0.3.4
mkdocs-with-pdf==0.9.3
mkdocs-glightbox==0.4.0
mkdocs-htmlproofer-plugin>=1.2.1
markdownify>=0.13.1
sshtunnel>=0.4.0
mysql-connector-python>=9.1.0
pathvalidate>=3.2.1
beautifulsoup4>=4.12.3